# App (Expo)
EXPO_PUBLIC_API_URL=
EXPO_PUBLIC_USER_POOL_ID=
EXPO_PUBLIC_USER_POOL_CLIENT_ID=

# Backend (Lambda / SAM)
MOCK_DATA_BUCKET=
PERSONALIZE_CAMPAIGN_ARN=
FRAUD_DETECTOR_ID=
KMS_KEY_ID=
RZP_KEY_ID=
RZP_KEY_SECRET=
RZP_WEBHOOK_SECRET=
